.primary-nav {

    &--pull-right {
        float: right;
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        float: left;
        padding: 12px 20px 0 0;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
    }
}